<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-8" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-8" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?gender=men&category=footwear&Product_type=trainers&direction=asc"
                class="dropdown-item">Trainers</a>
                <a href="{% url 'products' %}?gender=men&category=clothes&product_type=tops&direction=asc" class="dropdown-item ">Tops</a>
                <a href="{% url 'products' %}?gender=men&category=clothes&product_type=shorts&direction=asc" class="dropdown-item ">shorts</a>
                <a href="{% url 'products' %}?gender=men&category=clothes&product_type=joggers&direction=asc" class="dropdown-item ">Joggers</a>
                <a href="{% url 'products' %}?gender=men&category=clothes&product_type=jeans&direction=asc" class="dropdown-item ">jeans</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?gender=women&category=clothes&product_type=jeans&direction=asc" class="dropdown-item ">Jeans</a>
                <a href="{% url 'products' %}?gender=women&category=clothes&product_type=tops&direction=asc" class="dropdown-item ">Tops</a>
                <a href="{% url 'products' %}?gender=women&category=clothes&product_type=joggers&direction=asc" class="dropdown-item ">Joggers</a>
                <a href="{% url 'products' %}?gender=women&category=footwear&product_type=trainers&direction=asc" class="dropdown-item ">Trainers</a>
                <a href="{% url 'products' %}?gender=women&category=clothes&product_type=dress&direction=asc" class="dropdown-item ">Dress</a>
                <a href="{% url 'products' %}?gender=women&category=clothes&product_type=trousers&direction=asc" class="dropdown-item ">Trousers</a>
                <a href="{% url 'products' %}?gender=women&category=clothes&product_type=tracksuit&direction=asc" class="dropdown-item ">Tracksuit</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kids
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?gender=kids&category=accessories&product_type=backpack" class="dropdown-item">Backpack</a>
                <a href="{% url 'products' %}?gender=kids&category=accessories&product_type=watch" class="dropdown-item">Watch</a>
                <a href="{% url 'products' %}?gender=kids&category=footwear&product_type=trainers" class="dropdown-item">Trainers</a>
                <a href="{% url 'products' %}?gender=kids&category=footwear&product_type=sandels" class="dropdown-item">Flip flops</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sports
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?gender=unisex&category=sports&product_type=basketball" class="dropdown-item">BasketBall</a>
                <a href="{% url 'products' %}?gender=unisex&category=sports&product_type=water_bottle" class="dropdown-item">Water Bottles</a>
                <a href="{% url 'products' %}?gender=unisex&category=sports&product_type=football" class="dropdown-item">Football</a>
                <a href="{% url 'products' %}?gender=unisex&category=accessories&product_type=sunglasses" class="dropdown-item">Sunglasses</a>
            </div>
        </li>
    </ul>
</div>
